<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=6Lj7rIm9y1esPbumXY9d1gZ6y/ZILViqBS22qBVsb+bppxIXw1gwlEFTpNMzJrW/hpKVah+ULq2u2KG2Gggz6A==;BlobEndpoint=https://xdx.blob.core.chinacloudapi.cn/;TableEndpoint=https://xdx.table.core.chinacloudapi.cn/;QueueEndpoint=https://xdx.queue.core.chinacloudapi.cn/;FileEndpoint=https://xdx.file.core.chinacloudapi.cn/" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=6Lj7rIm9y1esPbumXY9d1gZ6y/ZILViqBS22qBVsb+bppxIXw1gwlEFTpNMzJrW/hpKVah+ULq2u2KG2Gggz6A==;BlobEndpoint=https://xdx.blob.core.chinacloudapi.cn/;TableEndpoint=https://xdx.table.core.chinacloudapi.cn/;QueueEndpoint=https://xdx.queue.core.chinacloudapi.cn/;FileEndpoint=https://xdx.file.core.chinacloudapi.cn/" />
    <add name="AzureWebJobsDashboardGlobal" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=YpwTPMK9gUvtR2Yy9KqNmn8x/R81B2GVosAQw0U10+bObancZH6Y6DxKroD0RAhiSu2ibybOVJfuyXvKtjVuIg==;BlobEndpoint=https://xdx.blob.core.windows.net/;TableEndpoint=https://xdx.table.core.windows.net/;QueueEndpoint=https://xdx.queue.core.windows.net/;FileEndpoint=https://xdx.file.core.windows.net/" />
    <add name="AzureWebJobsStorageGlobal" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=YpwTPMK9gUvtR2Yy9KqNmn8x/R81B2GVosAQw0U10+bObancZH6Y6DxKroD0RAhiSu2ibybOVJfuyXvKtjVuIg==;BlobEndpoint=https://xdx.blob.core.windows.net/;TableEndpoint=https://xdx.table.core.windows.net/;QueueEndpoint=https://xdx.queue.core.windows.net/;FileEndpoint=https://xdx.file.core.windows.net/" />
    <add name="DatabaseCSLocal" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-WiiChat-20160114010100;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DatabaseCSGlobal" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=aspnet-WiiChat-20160114010100;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DatabaseCSChina" connectionString="Server=tcp:lm0h38catx.database.chinacloudapi.cn,1433;Database=SmsServiceDB;User ID=hereafter@lm0h38catx;Password=Welcome01;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="DatabaseCSChina1" connectionString="Server=tcp:iv93oh592z.database.chinacloudapi.cn,1433;Database=SmsTestDB;User ID=hereafter@iv93oh592z;Password=Welcome01;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="DatabaseCSChinaTest" connectionString="Server=tcp:lm0h38catx.database.chinacloudapi.cn,1433;Database=SmsServiceDBTEST;User ID=hereafter@lm0h38catx;Password=Welcome01;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />

    <add name="AzureStorageCSLocal" connectionString="UseDevelopmentStorage=true" />
    <add name="AzureStorageCSGlobal" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=YpwTPMK9gUvtR2Yy9KqNmn8x/R81B2GVosAQw0U10+bObancZH6Y6DxKroD0RAhiSu2ibybOVJfuyXvKtjVuIg==;BlobEndpoint=https://xdx.blob.core.windows.net/;TableEndpoint=https://xdx.table.core.windows.net/;QueueEndpoint=https://xdx.queue.core.windows.net/;FileEndpoint=https://xdx.file.core.windows.net/" />
    <add name="AzureStorageCSChina" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx;AccountKey=6Lj7rIm9y1esPbumXY9d1gZ6y/ZILViqBS22qBVsb+bppxIXw1gwlEFTpNMzJrW/hpKVah+ULq2u2KG2Gggz6A==;BlobEndpoint=https://xdx.blob.core.chinacloudapi.cn/;TableEndpoint=https://xdx.table.core.chinacloudapi.cn/;QueueEndpoint=https://xdx.queue.core.chinacloudapi.cn/;FileEndpoint=https://xdx.file.core.chinacloudapi.cn/" />
    <add name="AzureStorageCSChina1" connectionString="DefaultEndpointsProtocol=https;AccountName=xdx1;AccountKey=6DWatdTMhkjUQ8HfkHll284KXjIYvVw/AMGFbyn6tU1Qe6phQ7xPoZxVb0ZZjLFnu9fry9B4gBuTc0iASrIeWQ==;BlobEndpoint=https://xdx1.blob.core.chinacloudapi.cn/;TableEndpoint=https://xdx1.table.core.chinacloudapi.cn/;QueueEndpoint=https://xdx1.queue.core.chinacloudapi.cn/;FileEndpoint=https://xdx1.file.core.chinacloudapi.cn/" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
